.git
.editorconfig
.DS_Store
.npmrc
.history
.turbo

*.crt
*.key
*.pem
.env

tsconfig.tsbuildinfo
!jest.config.js

npm-debug.log
backup/*
coverage
**/dist/*
logs
node_modules/
tmp

cdktf.out
cdktf.log
*terraform.*.tfstate*
.gen
.terraform
